.discount {
    padding-top: 72px;
    background-color: #F9FAFC;
    display: flex;
    justify-content: center;

    .selected {
        color: #50C9F5;
    }
    
    .discount__counter {
        display: block;
    }
}
