.container-reserved {
display: flex;
flex-direction: column;
align-items: center;
padding: 156px 0px 127px;

font-family: Montserrat;


}

.wrapper-background {
    background-color: #F9FAFC;
}
.container-reserved__title {
    /* margin-bottom: 24px; */
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    color: #162A41;

}

.container-reserved__title--secondary {
    color: #50C9F5;
}

.container-reserved__subtitle {
    margin-top: 22px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.container-reserved__review {
margin-bottom: 40px;
font-family: Gilroy;
font-size: 16px;
line-height: 150%;
color: #4E657F;
}

.wrapper-review {
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;
    
    
}
