@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
.time {
  margin: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;

  letter-spacing: 0.06em;

  /* Primary 500 */

  color: #50c9f5;
}
.minSecs {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  color: #162a41;
}
