.card {
    width: 328px;
    height: 274px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 16px rgba(86, 86, 86, 0.4);
    padding: 20px;
}

.card__author {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 38px;
}

.card__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}