.header-container {
  position: absolute;
  top: 0;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.header-logo {
  height: 48px;
}

.header-sandwichButton {
  height: 48px;
  width: 48px;
}
