@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.section-b {
    display: flex;
    padding-bottom: 129px;
    padding-top: 89px;
    max-width: 1032px;
    margin: 0 auto;
    justify-content: space-around;
}
.b-left {
    max-width: 328px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
}
.text {
    margin-bottom: 24px;
}
.text span {
    color: red;
}
.close-button {
    padding-right: 8px;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #dfdffd;
    border-radius: 12px;
    box-sizing: border-box;

}
input:focus{
    border-color:#68DFFA;
}
.input-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 60px;
    margin-top: -44px;
}
.input-controls span {
    font-size: 12px;
    font-weight: normal;
    color: #dfdfdf;
    line-height: 12px;
}
.input-controls img {
    padding-top: 10px;
    cursor: pointer;
}


