* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 56px;
  border: none;
  background: #AECF3E;
  box-shadow: 0px 4px 16px rgba(174, 207, 62, 0.4);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 1px 2px rgba(66, 33, 108, 0.12);
  outline: none;
  cursor: pointer;
}

.block-b__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 806px;

}

.block-b__left {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-b__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 40px;
}

.block-b__title-red {
  color: #DF4142;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.form {
  position: relative;
}

.block-b__input {
  display: block;
  width: 328px;
  height: 56px;
  border: 1px solid #68DFFA;
  border-radius: 12px;
  outline: none;
  margin-bottom: 32px;
  padding-left: 20px;
}

.close {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 22px;
  right: 60px;
  cursor: pointer;
}


